@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import "tailwindcss";

body {
    background: #eff0f3;
    font-family: "Plus Jakarta Sans", sans-serif;
    line-height: normal;
}

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}
